mixin dropdown(divID, labelID, linklistID)
  div(class="custom-dropdown", id="#{divID}")
    button(id="#{labelID}", role="tab", aria-controls="#{linklistID}")
      .accessLabel
      span select option
    ul(id="#{linklistID}", role="tabpanel", aria-hidden="true", aria-labeledby="#{labelID}", tabIndex="-1")
      li
        a(href="#", aria-role="option") Link 1
      li
        a(href="#", aria-role="option") Link 2
      li
        a(href="#", aria-role="option") Link 3
        